/*
Page Name: GeraldCV
Author: Alarcon Gerald Leonel 2018 (General Solutions)
Description: Curriculum vitae de Gerald Alarcon con fines laborales.
Version: 1.0
*/

/* Colores */
@opacitygray: #444;
@graynavegacion: #535150;

/* Fuentes */
.bg-gn{
    background-color:@graynavegacion;
    border-color:@graynavegacion;
}
.Raleway{
    font-family:'Raleway';
}
.Dosis{
    font-family:'Dosis', sans-serif;
}
.pontanosans{
    font-family:'Pontano Sans', sans-serif;
}
.advent{
    font-family:'Advent Pro';
}
.shadowsfont{
    font-family: 'Shadows Into Light Two', cursive;
}
.WhiteFont{
    color:white;
}
html{
    margin-top:0px !important;
}
body{
    width:100%;
}
h1{
    font-family: 'Segoe UI';
    font-size:40px;
}
.elementsnb{
    list-style:none;
    border:1px solid transparent;
    text-align:center;
    padding:10px;
    color:white;
}
.nbelements{
    font-family: 'Raleway';
    color:white;
    font-size:17px;
    display:flex
}
.automargin{
    margin:auto;
}
.mainphoto{
    background-color:@opacitygray;
    text-align:center;
}
.titlepage{
    background-color:@opacitygray;
    height:60px;
    text-align:center;
    display:flex;
}
.titlepage2{
    color:white;
    font-family:'Raleway';
    margin:auto;
}
.encabezado{
    padding-right:-15px;    
    padding-left:-15px;
}
.pagetitle{
    background-color:#777;
    text-align:center;
    padding-right:-15px;
    padding-left:-15px;
}
.main-name{
    color:white;
    font-family:'Raleway', sans-serif;
    margin-top:0.5em;
}

@media screen and (min-width:576px){
    .main-name{
        font-size:5vw;
    }
    .subtitle-name{
        font-size:3.3vw;
    }
    .engineeringstudent{
        font-size:6.2vw;
    }
    .firstelementp{
        font-size:4.5vw;
    }
}
@media screen and (max-width:575px){
    .main-name{
        font-size:7.7vw;
    }
    .subtitle-name{
        font-size:4.8vw;
    }
    .engineeringstudent{
        font-size:6.8vw;
    }
    .firstelementp{
        font-size:4.5vw;
    }
}
@media screen and (min-width:850px){
    .engineeringstudent{
        font-size: 4.2vw;
    }
    .firstelementp{
        font-size:2.6vw;
    }
}
.subtitle-name{
    font-family:'Raleway';
    color:BLACK;
    margin-bottom:50px;
}
.row2{
    display:flex;
    flex-wrap: wrap;
}
.navbarcontainer{
    background-color:@graynavegacion;
    width:100%;
}
.nbelements{
    text-align:center;
    display:flex;
}
.nbelements:hover{
    background-color:@opacitygray;
}
.elementsnb:hover{
    text-decoration:none;
}
.elementsnb:link{
    text-decoration:none;
}
.linksnavbar{
    width:100%;
    text-decoration:none;
}
.main-body{
    background-image:url("images/bkbody.jpg");
    background-size:350px;
    background-repeat:repeat;
    width:100%;
    height:2000px;
}
.top-container {
    text-align: center;
  }
.personalinfo{
    background-color:rgba(1,1,1,.7);
    padding:10px;
    text-align:left;
    color:white;
    padding-top:35px;
    padding-bottom:35px;
}
.personalinfotext{
    font-family:'Dosis', sans-serif;
    font-size:22px;
}
.academicinfotxt{
    font-family:'Dosis';
    text-align: right;
}
.academicinfotitle{
    font-family:'Raleway';
    font-size:20;
    text-align: right;
}

.letter2{
    font-size:16;
}
.paddingicons{
    padding:5px;
    padding-right:15px;
    padding-left:15px;
    width:50px;
    text-align:center;
}
.header {
    background: #555;
    color: #f1f1f1;
}
.content {
    padding: 16px;
}  

.firstelement{
    background-color:rgba(255,255,255,.7);
    padding-top:20px;
}
.engineeringstudent{
    font-family:'Pontano Sans', sans-serif;
}
.MosaicoImg{
    width:100%;
    height:105px;
    bottom:0;
}
.MosaicoImgs{
    width:20%;
}
.firstelementp{
    font-family:'Pontano Sans', sans-serif;
    padding-bottom:10px;
}
.secondelement{
/*    background-color:rgba(91,85,85,.8); */
    background-color:rgba(1, 1, 1, 0.7);
    padding:10px;
    padding-top:40px;
    margin-top:20px;
}
.title2e{
    font-family:'Advent Pro';
    font-size:40;
    text-align:left;
    padding-left:50px;
    color:white;
}
ul.timeline {
    list-style-type: none;
}
.schools{
    padding-bottom:15px;
}
#myProgress {
    background-color: #ddd;
    border:1px solid gray;
    border-radius:15px;
    display:inline-block;
}
.mprogress1{
    width:50%;
}

.dill{
    display:inline-block;
}
#myBar {
    height: 30px;
    background-color: white;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black; 
    font-family:'Raleway';
}
#myBar:hover{
    background-color:@opacitygray;
    color:white;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 350px;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.thirdelement{
    margin-top:20px;
    background-color:rgba(1,1,1,0.7);
    padding-top:40px;
    padding-bottom:30px;
}
.title3e{
    text-align:right;
    padding-right:50px;
    font-family:'Advent Pro';
    color:white;
    font-size:40;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(204,204,204,.8);
    text-align:center;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 10px 18px;
    background-color: rgba(200,200,200,.5);
    display: none;
    overflow: hidden;
}
.descripcionwork{
    text-align:justify;
}
.fourthelement{
    margin-top:20px;
    padding-top:40px;
    background-color:@opacitygray;
    padding-bottom:20px;
}
.fourthelement2{
    background-color:@opacitygray;
}
.freemargin{
    margin-bottom:0;
}
.font2rem{
    font-size:2rem;
}
.icon-titlee{
    margin-right:0.8em;
}
.title4e{
    font-size:40;
    text-align:center;
    border-bottom:2px solid white;
    width:80%;
}
.elementcourses{
    padding-top:20px;
}
.titlecourses{
    background-color:gray;
    width:80%;
    text-align:center;
    font-size:25;
    padding:10px;
}
.margind{
    margin-left:19.9999%;
    border-radius:20px 0px 0px 20px;
}
.radiusizq{
    border-radius:0px 20px 20px 0px;
}
.textalignright{
    text-align:right;
}
.margindd{
    margin-left:19.9999%;
    padding-top:30px;
}
.subtitle4e{
    padding-left:20px;
    background-color:rgba(68,68,68,.9);
}
.myhabilities{
    width: 25%;
    background-color: #ddd;
    border:2px solid gray;
    border-radius:15px;
    display:inline-block;
    margin-right:1em;
}
.myhabilities1{
    width: 25%;
}
.mybar1{
    width:90%;
    border-radius:15px 0px 0px 15px;
}
.mybar2{
    width:70%;
    border-radius:15px 0px 0px 15px;
}
.mybar3{
    width:75%;
    border-radius:15px 0px 0px 15px;
}
.languageposition{
    float:right;
}
.mybar4{
    width:95%;
    border-radius:15px 0px 0px 15px;
}
.mybar5{
    width:99%;
    border-radius:15px 15px 15px 15px;
}
.mybar6{
    width:100%;
    border-radius:15px 15px 15px 15px;
}
.border-cp{
    border:1px solid #ccc;
    background-color:rgba(224,224,244,.5);
}
.elements-cp:hover{
    background-color:rgba(173,166,166,.5) !important;
}
.mb-1-1{
    margin-bottom:-1px !important;
}
.mprogress2{
    width:25%;
}
.mprogress3{
    width:50%;
}
.container-basicc{
    border-radius: .25rem;
    border:1px solid rgba(0,0,0,.125);
    background-color:white;
}

 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
} 
.tablinks{
    width:49.9999%;
}
.classw-49{
    width:49.9999%;
}
.title-table:hover{
    background-color:rgba(173,166,166,.5) !important;
}
.title-table{
    background-color:rgba(224,224,244,.5);
}
@media screen and (min-width:770px){
.elements-fourthelement{
    width:33.3333%;
}
}
@media screen and (min-width:500px) and (max-width:769px){
    .elements-fourthelement{
        width:49.9999%;
    }
}
@media screen and (max-width:499px){
    .elements-fourthelement{
        width:99.9999%;
    }
}
@media screen and (min-width:675px){
    .elementcourses{
        width:49.9999%;
    }
}
@media screen and (max-width:674px){
    .elementcourses{
        width:99.9999%;
    }
}
@media screen and (max-width:674px){
    .elementcourses{
        width:99.9999%;
    }
}
@media screen and (min-width:850px){
    .personalinfo{
        width:33.333333%;
    }
    .firstelement{
        width:66.66666%;
    }
}
@media screen and (max-width:849px){
    .personalinfo{
        width:99.999999%;
    }
    .firstelement{
        width:99.999999%;
    }
}
@media screen and (min-width:620px){
    .jobinfo{
        width:58.33333%;
    }
    .jobdescription{
        width:41.66666%;
    }
}
@media screen and (max-width:619px){
    .jobinfo{
        width:99.999999999999%;
    }
    .jobdescription{
        width:99.999999999999%;
    }
}
@media screen and (min-width:1000px){
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}  
.sticky + .content {
    padding-top: 102px;
}
}
@media screen and (min-width:1000px){
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}  
.sticky + .content {
    padding-top: 102px;
}
}
.parallax{
    /* The image used */
    background-image: url("images/code.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footercv{
    background-color:rgba(1,1,1,.7);
    height:100vh;
    width:100%;
}
.j-center{
    align-items:center;
}
.button-contact{
    width:60%;
}
#foo{
    display:none;
}
@media screen and (max-width:575px){
    .footer-element{
        width:99.9999999%;
    }
}
@media screen and (min-width:576px){
    .footer-element{
        width:49.9999999%;
    }
}
